apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: equipment-detector-data
  namespace: equipment-detector
  labels:
    app.kubernetes.io/name: equipment-degradation-detector
    app.kubernetes.io/component: storage
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
